recetas-ocr-api/src/RecetasOCR.API/appsettings.Development.json
recetas-ocr-api/src/RecetasOCR.API/appsettings.json
recetas-ocr-api/src/RecetasOCR.API/obj/Debug/net9.0/RecetasOCR.API.assets.cache
recetas-ocr-api/src/RecetasOCR.API/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.API/obj/Debug/net9.0/RecetasOCR.API.assets.cache
recetas-ocr-api/src/RecetasOCR.API/obj/Debug/net9.0/RecetasOCR.API.AssemblyInfo.cs
recetas-ocr-api/src/RecetasOCR.API/obj/RecetasOCR.API.csproj.nuget.dgspec.json
recetas-ocr-api/src/RecetasOCR.API/obj/project.nuget.cache
recetas-ocr-api/src/RecetasOCR.API/obj/project.assets.json
recetas-ocr-api/tests/RecetasOCR.Application.Tests/obj/project.nuget.cache
recetas-ocr-api/tests/RecetasOCR.Application.Tests/obj/project.assets.json
recetas-ocr-api/tests/RecetasOCR.Application.Tests/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.Domain/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.Domain/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.Domain/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.Worker/obj/Debug/net9.0/RecetasOCR.Worker.AssemblyInfoInputs.cache
recetas-ocr-api/src/RecetasOCR.Worker/obj/Debug/net9.0/RecetasOCR.Worker.AssemblyInfoInputs.cache
recetas-ocr-api/src/RecetasOCR.API/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.API/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.API/obj/RecetasOCR.API.csproj.nuget.dgspec.json
recetas-ocr-api/src/RecetasOCR.Application/obj/Debug/net9.0/RecetasOCR.Application.GeneratedMSBuildEditorConfig.editorconfig
recetas-ocr-api/src/RecetasOCR.Application/obj/Debug/net9.0/RecetasOCR.Application.assets.cache
recetas-ocr-api/src/RecetasOCR.Application/obj/project.nuget.cache
recetas-ocr-api/src/RecetasOCR.Application/obj/project.assets.json
recetas-ocr-api/src/RecetasOCR.API/obj/Debug/net9.0/RecetasOCR.API.GeneratedMSBuildEditorConfig.editorconfig
