# ===========================
# .NET Build Artifacts (backend)
# ===========================
recetas-ocr-api/**/bin/
recetas-ocr-api/**/obj/

# ===========================
# App settings sensibles
# ===========================
recetas-ocr-api/src/RecetasOCR.API/appsettings.Development.json
recetas-ocr-api/src/RecetasOCR.API/appsettings.json

# ===========================
# Node / Frontend
# ===========================
recetas-ocr-web/node_modules/
recetas-ocr-web/dist/

# ===========================
# IDEs & OS
# ===========================
.vs/
.idea/
*.user
*.suo
Thumbs.db
.DS_Store